* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
header {
  color: white;
  height: 600px;
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px 15px;
}
nav ul li button {
  color: black;
  border: 0;
  padding: 12px;
  border-radius: 14px;
  font-weight: 700;
}
#titre1 {
  text-align: center;
  margin-top: 40px;
  font-size: 46px;
  text-transform: uppercase;
}
.etape2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.etape2 .texte {
  margin: 100px;
}
.etape2 .texte h3 {
  font-size: 36px;
  font-weight: 800;
}
.etape2 .texte p {
  color: grey;
  font-weight: 600;
  line-height: 1.4rem;
  margin-top: 40px;
}
.etape2 .texte button {
  border-radius: 15%;
  font-size: 1rem;
  margin-top: 40px;
  padding: 0.5rem;
}
.txt {
  padding: 16px;
  border: 1px red;
}

.txt div {
  text-align: center;
  margin-top: 300px;
  padding: 0 60px;
}
.txt div p {
  margin-top: 10px;
}
#first {
  background-image: url(./images/desktop/image-transform.jpg);
  height: 25rem;
  margin-left: 4rem;
  width: 105rem;
}
#second {
  height: 25rem;
  margin-right: 3rem;
  width: 105rem;
  background-image: url(./images/desktop/image-photography.jpg);
}
.cart {
  margin: 2rem 2rem;
}
.cart h3 {
  color: grey;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
}
.cartsp {
  display: flex;

  padding: 2rem 1.5rem;
  color: grey;
}
#carts {
  align-items: center;
  flex-direction: column;
  display: flex;
}
#carts img {
  border-radius: 50%;
  width: 5rem;
  margin-top: 2rem;
}
#carts span {
  width: 80%;
  margin-top: 2rem;
  text-align: center;
}
#carts strong {
  color: black;
  font-weight: 800;
  margin-top: 3rem;
}
#carts h6{margin-top: 1rem;}
.aaddd {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
.aaddd img {
  width: 380px;
}
.linkfoot {
  color: black;
}

footer {
  background-color: aquamarine;
  margin-bottom: 2px;
}
.photofoot {
  width: 50px;
}
